.single {
    display: flex;

    .singleContainer {
        flex: 6;

        .top {
            display: flex;
            padding: 20px;
            gap: 20px;

            .left {
                flex: 1;
                padding: 20px;
                box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
                position: relative;

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: none;
                    color: #7451f8;
                    background-color: #7551f842;
                    padding: 10px;
                    font-size: 13px;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .item {
                    display: flex;
                    gap: 20px;

                    .itemImg {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 10px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 8px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }
        }

        .bottom {
            margin: 5px 20px;
            padding: 20px;
            box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 11px 5px 24px 3px rgba(0, 0, 0, 0.15);
        }

        .title {
            font-size: 16px;
            color: lightgray;
            margin-bottom: 20px;
        }
    }
}